/boringssl/boringssl
/boringssl/build
/boringssl/*.a
/boringssl/include
/server/server
/client/client
/tools/aes_128_gcm_decrypt
/tools/aes_128_gcm_encrypt
/generate/generator
/generate/hkdf
/generate/ill12
.*.swp
