/boringssl/boringssl
/boringssl/build
/boringssl/*.a
/boringssl/include
/openssl/openssl
/openssl/build
/openssl/*.a
/openssl/include
/server/server
/client/client
/tools/aes_256_gcm_decrypt
/tools/aes_256_gcm_encrypt
/generate/generator
/generate/hkdf
/generate/ill12
/captures/caps/aes_256_gcm_decrypt*
archive/generate/generator
archive/generate/hkdf
archive/generate/ill12
/.idea
.*.swp
